.validate {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#reset_form {
  display:flex;
  width: 70%;
  position:unset;
}

.main-container_retrieve {
  height:fit-content;
  margin: 20vh auto;
}

